@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background-color: #f0f8ff; /* Lighter aquamarine color */
  margin: 0;
  padding: 0;
}

.header {
  color: #fff;
  background-color: #008b8b; /* Dark cyan color */
  border-radius: 8px;
  padding: 20px; /* Increased padding for better visual appeal */
  text-align: center;
  margin-bottom: 20px; /* Reduced margin for a cleaner look */
}
.container {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
}

.card {
  flex: 1 0 calc(33.33% - 30px); /* Distributes available space equally among three cards with some margin */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #008b8b;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.footer a {
  color: #7ff1cb;
}
.copyright {
  color: #7ff1cb; /* Lighter cyan color */
}

/* Additional styling for better readability on smaller screens */
@media screen and (max-width: 768px) {
  .container {
    justify-content: center;
  }
}
